<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jimmy.customviewdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LargeImgAty" />
        <activity android:name=".ui.MeasureOnceAty" />
        <activity android:name=".ui.FlowViewAty" />
        <activity android:name=".ui.FlowViewRecycleAty" />
        <activity android:name=".ui.MovingCircleAty" />
        <activity android:name=".ui.ColorFilterAty" />
        <activity android:name=".ui.AvoidXAty" />
        <activity android:name=".ui.PorterDuffAty" />
        <activity android:name=".ui.PorterDuffAty2" />
        <activity android:name=".ui.EraserAty" />
        <activity android:name=".ui.MultiCircleAty" />
        <activity android:name=".ui.TouchEventAty" />
        <activity android:name=".ui.ViewLogAty" />
        <activity android:name=".mvp.MvpAty" />
        <activity android:name=".ui.GifAty" />
        <activity android:name=".ui.movie_seat.MovieSelectSeatActivity1" />
        <activity android:name=".ui.movie_seat.MovieSeatAty"></activity>
    </application>

</manifest>
